@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');



/*********************COLORS*****************/

.bg-color-name-title {
    background-color: #376838;
}


.bg-color-home {
    background-color: #79c77a;
    border-right: 2px solid #baeebb;
    border-top: 2px solid #baeebb;

}



.bg-color-resume {
    background-color: #79c77a;
    border-top: 2px solid #baeebb;
}



.bg-color-contact {
    background-color: #79c77a;
    border-right: 2px solid #baeebb;
    border-top: 2px solid #baeebb;
    border-bottom: 2px solid #baeebb;


}

.bg-color-download {
    background-color: #79c77a;
    border-bottom: 2px solid #baeebb;
    border-top: 2px solid #baeebb;



}



.bg-personal {
    background-color: #e4ece4;
}

.bg-three-reasons {
    background-color: white;
}

/******************** Special, paddings, margins, text ****************/

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.uppercased {
    text-transform: uppercase;
    /* Will be used in all the titles */
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: white;
    margin-bottom: 10px;
}

.inline-block {
    display: inline-block;
    /*I don't see what difference this make??*/
}




/******************** HEADER ****************/

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}


.logo {
    background: url("../images/profile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    /**** We add the -moz, -webkit and -o to make sure it is compatible with all the browsers ***/
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;

}


.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: white;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: white;
}

#nav {
    margin: 0;
}

/* Rule of thirds, it will take a third of the headers height */

.menuitem {
    padding: 0;
    height: 120px;
    text-align: center;


}



.menuitem a {
    width: 100%;
    /*we want all the area to act as link*/
    height: 120px;
    /*we want all the area to act as link*/
    color: white;
    text-decoration: none;
}

.menuitem a i {
    padding-top: 30px;
    display: block;
    font-size: 26px;
}


.menuitem span {
    display: block;
    padding-top: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    width: 100%;
    /* WHat different does this make? */
    text-align: center;
    /*Is this not redundant??*/
    font-weight: 300;
}

#nav li {
    padding: 0;
}



/***************** HOVER ********************/

.hvr-sweep-to-bottom:before {
    /** WHY IS before USED FOR?? */
    background-color: rgba(255, 255, 255, 0.2);
    /*IN the solutions we have height:120px but I haven't add that and stills looks fine.. ??*/
}




/******************** Footer ****************/

footer {
    background-color: #376838;
    color: white;
    margin: 0px;
    min-height: 120px
}

.downloadcv i {
    /*Why in the solution uses footer .download i?? instead of only .download i?? */
    color: white;
    font-size: 18px;
    padding-left: 5px;
    text-align: center;
    transition: all .5s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;

}

.downloadcv i:hover {
    color: #00ff74;


}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 12px 0px;
    color: white;
    font-size: 13px;
    line-height: 7px;
    margin-bottom: 5px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;

}


.social-links a i:hover {
    color: #00ff74;

}

#footer-margin {
    /**Why do we use ID here instead of class**/
    margin: 20px;
}


/********** SECTION 3 ABOUT ME *****************/

.section-column {
    display: table-cell;
    padding: 0px 30px 30px;
    /*float:none;*/
}

.row-table {
    display: table;
}

section h3 {
    font-family: 'Exo', sans-serif;
    font-weight: 200;
    margin-bottom: 40px;
    margin-top: 25px;
}

.tree-reasons-headings {
    font-family: 'Exo', sans-serif;
    font-weight: 400;
    margin-bottom: 15px;

}

.three-reasons-icon {
    color: #1fc5fe;
    font-size: 26px;
}


section p {
    margin-bottom: 40px;
}


/******************** section personal details ****/

.personal-info-item {
    display: block;
    clear: both;
    margin-bottom: 20px;

}

.personal-info-item .key,
.personal-info-item .value {
    padding-right: 8px;
}

.personal-info-item .key p,
.personal-info-item .value p {
    margin: 0;

}

.personal-info-item .key p {

    font-weight: bold;
}

.personal-info-item .key {
    display: inline-block;
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;



}

.personal-info-item .value {
    display: inline-block;
    position: relative;
    width: 60%;
}

/*********** media queries ***********/

@media (min-width:991px) {
    .bg-color-home {
        border-bottom: 2px solid #baeebb;

    }
}



@media (min-width:992px) {
    .section-column {

        float: none;
    }
}

@media (min-width:991px) {
    .bg-color-resume {
        border-bottom: 2px solid #baeebb;
        border-right: 2px solid #baeebb;

    }
}

@media (min-width:991px) {
    .bg-color-contact {
        border-top: 2px solid #baeebb;

    }
}



@media (min-width:991px) {
    .bg-color-download {
        border-top: 2px solid #baeebb;

    }
}


/******* My skills progress bars************/

.progress {
   position: relative;
    height: 25px;
}

.progress-type {
    position: absolute;
    left: 0;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: #ffffff;
    background-color: rgba(25, 25, 25, 0.2);
}


/******* Working history******/

.timeline-item {
 padding: 4em 2em 0em 2em;  /**** Why do we use em unitsintead of pixels???*****/
 border-left:1px solid;
 position:relative;
}

.timeline-item p{
    margin: 0;
    padding: 0;
}

.timeline-item:before{
    content: attr(dates);
    display: block;
    position:absolute;
    top:3em;
    left:2.5em;
    font-size:0.8em;
    font-family: 'Exo',sans-serif;
    font-weight: 400;
}

.timeline-item:after{
    content: '';
    display: block;
    position:absolute;
    top:2.5em;
    left:-6px;  /**** How is this calculated**/
    width:12px;
    height: 12px;
    border-radius: 12px;
    background-color: white;
    
}